.mind-map {
  display: flex;
}
.node {
  display: flex;
  margin: 12px 0;
  align-items: center;
}
.node__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 16px;
  background: #e0de7d;
  position: relative;
}

.node__container > button {
  border-radius: 4px;
  border: 0;
  width: 16px;
  position: absolute;
  right: -8px;
}
